* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* disabling any scrolling on body */

body {
  overflow: hidden;
}

/* Start Game form */
.startGameForm {
  height: 100vh;
  width: 50vw;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: black;
  border: 1rem solid black;
}

.startGameForm form {
  padding: 1rem;
  margin: 1rem;
}

.startGameForm label {
  font-size: 20px;
  font-weight: bold;
}

.startGameForm input {
  margin: 1rem;
  padding: 0.4rem;
}
.startGameForm input[type='submit'] {
  margin: 1rem;
  padding: 1rem;
}

.startGameForm h1 {
  padding: 1rem;
  margin: 1rem;
  font-size: 50px;
}

#newGame {
  margin-left: 30%;
}

/* New Game form Header area */
.startFormTitleArea {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}
/* New Game form footer area */
.startFormFooterArea {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
}

/* Form Card Suit icons */
.clubsIcon,
.spadesIcon {
  font-size: 4.5rem;
}
.diamondsIcon,
.heartsIcon {
  font-size: 4.5rem;
  color: red;
}
